:root {
	--blue1: #00548c;
	--blue2: #4695bf;
	--blue3: #57a5cc;
}

.title-positioned {
	position: absolute;
}


body {
	background-image: url("https://i.imgur.com/k1IC0Sm.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.hero {
	background-image: url("/images/drpic.jpg");
	height: 500px;
	width: 1000px;
	background-repeat: no-repeat;
	margin-top: 100px;
}

.about {
	width: 100px;
	height: 100px;
	background-color: white;
	margin: 20px;
}

.doctors {
	width: 100px;
	height: 100px;
	background-color: #57a5cc;
	margin: 20px;
}

.contact {
	width: 100px;
	height: 100px;
	background-color: white;
	margin: 20px;
}

.covid {
	width: 100px;
	height: 100px;
	background-color: #57a5cc;
	margin: 20px;
}
